body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

header {
  display: block;
  height: 5vh;
  overflow: auto;
  background-color: purple;
  color: red;
  font-size: 10px;
}

.container {
  height: 95vh;
  display: flex;
}

pre {
  background-color: grey
}

pre, textarea {
  width: 50%;
  font-family: monospace;
  font-size: 15px;
  margin: 0;
  padding: 10px;
}